body, html {
    height: 100%;
    margin: 0;
}

h1 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 5px;
  color: white;
  text-align: center;
}

.background-img {
  background-image: url("../images/background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 500px;
  background-color: #b36b00;
  position: relative;
  font-size:0;
  white-space:nowrap;
}

.button {
  text-align: center;
  height: 0;
  position: relative;
}

#start {
  margin-top: 20px;
}

#clear {
  margin-top: 0px;
}

.squares {
  margin: 1px;
  padding: 0;
  background-color: #fff;
  display: inline-block;
  float: left;
}
.hover {
  background-color: #e6b800;
}
